* {
    --primary-color: #344f48;
    --secondary-color: #038d5a;
    --text-primary-color: #052105;
    --text-secondary-color: #40514d;
    --navbar-height: 3.5em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: var(--text-primary-color);
    margin-top: var(--navbar-height);
}

/* Top Menu */
.main-nav {
    top: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: #FFF;
    height: var(--navbar-height);
    width: 100%;
    padding: 0 1.5em;
}

.main-nav .brand img {
    height: 36px;
    width: auto;
}

.main-nav .brand a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.main-nav .nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all 0.3s ease;
}

.main-nav .nav-menu .menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.main-nav .nav-menu .menu-list {
    display: flex;
    gap: 1em;
}

#menu-toggle ~ .menu-list {
    display: none;
}

#menu-toggle:checked ~ .menu-list {
    display: flex;
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    background-color: #f46b45;
    width: 100%;
    padding: 1em 0;
}

#lang-toggle {
    display: none;
}

.lang-button-container {
    border: 2px solid #fff;
    cursor: pointer;
    padding: 2px;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 0.1em;
    position: relative;
}

.menu-list a::before,
.menu-list a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.menu-list a::before {
    top: 0;
    left: auto;
    right: 0;
}

.menu-list a::after {
    bottom: 0;
    left: 0;
}

.menu-list a:hover::before,
.menu-list a:hover::after {
    width: 100%;
}

/* .menu-list a:hover {
    border-top: 2px solid rgb(16, 72, 16);
    border-bottom: 2px solid rgb(16, 72, 16);
} */

@media (min-width: 700px) {
    .main-nav .nav-menu .menu-button-container {
        display: none;
    }

    #menu-toggle ~ .menu-list {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
    }
}

/* Index Page Header*/
.main-header {
    height: 30vh;
    min-height: 350px;
    width: 100%;
    background-color: var(--secondary-color);
}

.main-header .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
}

/* Other Page Header */
.page-header {
    background-image: url('../img/Header_Background.png');
    background-size: cover;
    background-position: center;
    height: 8em;
    display: flex;
}

.page-header .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.page-header .header-content h1 {
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 98%;
}

@media (min-width: 700px) {
    .container {
        width: 90%;
    }
}

.page-content {
    padding-top: 2em;
    padding-bottom: 4em;
}

.button {
    color: var(--primary-color);
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    border-radius: 6px;
    padding: 0.5em;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.button .sub-title {
    color: var(--text-secondary-color);
    font-size: 0.8em;
    padding-top: 0.25em;
}

.button:hover .sub-title {
    color: #d9d9d9;
}

.button.all-width {
    display: block;
    width: 100%;
    text-align: center;
}

.article-content {
    padding: 2em 0;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
    margin: 1.5em auto;
}

.footer .right h1 {
    margin: 0;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

.footer .org-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .org-list .org-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: var(--text-primary-color);
    text-decoration: none;
    padding: 0.5em;
}

.footer .org-list .org-item a:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.footer .org-item-nameplate h2 {
    font-size: 1.2em;
    margin: 0;
}

.footer .org-item-nameplate p {
    margin: 0;
    font-size: 0.9em;
    color: var(--text-secondary-color);
}

.footer .org-item a:hover .org-item-nameplate p {
    color:#fff;
}

.footer .org-list .org-item img {
    width: 48px;
    height: auto;
}

@media (min-width: 700px) {
    .footer {
        flex-direction: row;
    }
    
    .footer > * {
        flex: 1;
    }

    .footer .org-list {
        flex-direction: row;
    }

    .footer .org-list .org-item a {
        flex-direction: column;
        text-align: center;
    }
}

/* Main Content - News */
.main-content .news .news-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-content .stay-tuned {
    color: #ff0000;
    font-size: 1.2em;
    font-style: bold;
}

/* Training Location */
.page-content .location .basic-information {
    margin-bottom: 3em;
}

.page-content .location .basic-information .site {
    margin-top: 1.5em;
}

.page-content .location .traffic iframe{
    width: 100%;
    max-width: 100%;
}

/* Service School */
.page-content .school .school-select .category {
    margin: 2em 0;
}

.page-content .school .school-select .filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.page-content .school .school-select .school-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.page-content .school .school-select .school-item {
    padding: 0.5em;
    width: 22.5%;
    height: 10em;
    cursor: pointer;
}

.page-content .school .school-select .school-item .school-item-content {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 1em;
    transition: all 0.2s ease;
}

.page-content .school .school-select .school-item .school-item-content:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.page-content .school .school-select .school-item .school-item-content h3 {
    display: flex;
    flex-direction: column;
}

.page-content .school .school-introduction {
    display: none;
}